body {
  background-color: #b0bca7;
}
nav {
   border-bottom: 20px solid black;
}
.crumb ul {
  list-style-type: none;
  padding: 0%;
}
.crumb a {
  text-decoration: none;
  color: black;
}
.crumb {
  display: inline-block;
}
