body {
  background-color: #b0bca7;
  text-align: center;
}

nav {
  border-bottom: 5px solid black;
  width: 100%;
  background: none;
}

.crumb ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.crumb a {
  font: arial;
  font-weight: light;
  letter-spacing: 5px;
  text-decoration: none;
  color: black;
}
.crumb {
  display: inline-block;
}
.crumb a::after {
  display: inline-block;
  color: #000;
  content: '||';
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}
.crumb li {
  display: inline;
  margin-right: 10px;
}
h1 {
  font-size: 300%;
  font-family: arial;
  letter-spacing: 8px;
}
a {
  font: arial;
  font-weight: light;
