body {
  background-color: #C0C7AB;
  text-align: center;
}

nav {
  border-bottom: 5px solid #989f7e;
  width: 100%;
}

.crumb ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.crumb a {
  background-color:#989f7e;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-family: Arial;
  font-weight: light;
  letter-spacing: 5px;
  text-decoration: none;
  color: #6d7361;
  border-radius: 20px;
  height: 10px;
  width: 160px;
}

.crumb {
  display: inline-block;
}

.crumb li {
  display: inline;
  margin-right: 10px;
}

h1 {
  font-size: 300%;
  font-family: Arial;
  letter-spacing: 8px;
  color: #6d7361;
}

a {
  text-decoration: none;
  font-family: Arial;
  font-weight: lighter;
  letter-spacing: 3px;
  text-align: center;
  color: #989f7e;
}

img {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

footer {
  font-family: Arial;
  font-weight: lighter;
  letter-spacing: 5px;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #989f7e;
}
h3 {
  color: #6d7361;
}